<footer>
  <div class="container">
    <div class="footer-contacts">
      <a href=""
        ><img src="./images/header/logo.png" alt="Логотип" class="footer-logo"
      /></a>
      <a class="footer-phone" href="tel:+380000000000">+38 (000) 000 00 00</a>
      <a href="">
        <img
          class="footer-icon-instsgram"
          src="./images/footer/instagram.jpg"
          alt="Значок инстаграма"
        />
      </a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="footer-copyright-text">@ Все права защищены, 2019</p>
    </div>
  </div>
</footer>
