<section class="offer section">
  <div class="container">
    <ul class="offer-list list">
      <li class="offer-list-item first-icon">
        <svg class="offer-icon">
          <use></use>
        </svg>
        <p class="offer-list-description">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="offer-list-item">
        <svg class="offer-icon">
          <use
            href="./images/offer/mobile-body.svg"
            class="offer-icon-first"
          ></use>
        </svg>
        <p class="offer-list-description">Современные методики обучения</p>
      </li>
      <li class="offer-list-item">
        <svg class="offer-icon">
          <use
            href="./images/offer/mobile-hat.svg"
            class="offer-icon-first"
          ></use>
        </svg>
        <p class="offer-list-description">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
