<section class="offer-section">
  <div class="container-section">
    <ul class="offer-list list">
      <li class="offer-list-item">
        <svg class="offer-icon" width="59px" height="60px">
          <use
            href="./images/offer/mobile-body.svg"
            class="offer-icon-first"
          ></use>
        </svg>
        <p class="offer-list-description icon-first">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="offer-list-item">
        <svg class="offer-icon">
          <use
            href="./images/offer/mobile-hat.svg"
            class="offer-icon-first"
          ></use>
        </svg>
        <p class="offer-list-description">Современные методики обучения</p>
      </li>
      <li class="offer-list-item">
        <svg class="offer-icon">
          <use
            href="./images/offer/mobile-hat.svg"
            class="offer-icon-first"
          ></use>
        </svg>
        <p class="offer-list-description">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
