<section class="section problems">
  <div class="container">
    <h2 class="problems-titule">
      Главные проблемы учеников на English ВНО, которые <br />
      мы <span class="problems-titule-primary">помогаем</span> решить
    </h2>
    <ul class="list problems-list">
      <li class="problems-list-item">Название грамматики</li>
      <li class="problems-list-item">
        Неумение вомпринимать устную английскую речь
      </li>
      <li class="problems-list-item">
        Скупой словарный запас для написани сочинения
      </li>
      <li class="problems-list-item">Поодготовка в одиночку</li>
      <li class="problems-list-item">Отсутствие единого ресурса знаний</li>
      <li class="problems-list-item">Недостатой самоорганизации и лень</li>
    </ul>
  </div>
</section>
