<section class="section">
  <div class="container">
    <h2>Наша программа</h2>
    <ul>
      <li>1 семестр
        <ul>
          <li>— Grammar</li>
          <ul>
            <li>Nouns & Articles</li>
            <li>Adjectives & Adverb</li>
          </ul>
          <li>— Vocabulary
          <li>Family & Relations</li>
          <li>People & Society</li>
      </li>
    </ul>
    </li>
    <li>2 семестр
      <ul>
        <li>— Grammar</li>
        <li>— Vocabulary</li>
      </ul>
    </li>
    <li>3 семестр
      <ul>
        <li>— Grammar</li>
        <li>— Vocabulary</li>
        <li>— Writing</li>
      </ul>
    </li>
    <li>4 семестр
      <ul>
        <li>— Grammar</li>
        <li>— Vocabulary</li>
        <li>— Writing</li>
      </ul>
    </li>
    <li>5 семестр
      <ul>
        <li>—</li>
      </ul>
    </li>
    </ul>
  </div>
</section>