<section class="section">
  <div class="container">
    <h2>Наша программа</h2>
    <ul class="list">
      <li>1 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Nouns & Articles Adjectives & Adverb</li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Family & Relations People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>2 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Pronouns
                Active Voice
                Passive Voice</li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Home
                School
                Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>3 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Modal verbs
                Infinitive
                Gerund
                Participle: 1, 2</li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Travel & Tourism Culture & Free Time Sport</li>
            </ul>
          </li>
          <li>— Writing
            <ul class="list">
              <li>Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>4 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Clauses: Conditional and Wishes
                Direct / Reported speech
                Preposition
                Conjunction
                Numeral
              </li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Healthy Living
                Nature & Environment
                Money
              </li>
            </ul>
          </li>
          <li>— Writing
            <ul class="list">
              <li>Formal Letter
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>5 семестр
        <ul class="list">
          <li>—
            <ul class="list">
              <li>Revision
                Tests
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>