<section class="section">
  <div class="container">
    <h2>Наша программа</h2>
    <!-- not so good structure -->
    <!-- <ul class="list">
      <li>1 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Nouns & Articles Adjectives & Adverb</li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Family & Relations People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>2 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Pronouns
                Active Voice
                Passive Voice</li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Home
                School
                Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>3 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Modal verbs
                Infinitive
                Gerund
                Participle: 1, 2</li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Travel & Tourism Culture & Free Time Sport</li>
            </ul>
          </li>
          <li>— Writing
            <ul class="list">
              <li>Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>4 семестр
        <ul class="list">
          <li>— Grammar
            <ul class="list">
              <li>Clauses: Conditional and Wishes
                Direct / Reported speech
                Preposition
                Conjunction
                Numeral
              </li>
            </ul>
          </li>
          <li>— Vocabulary
            <ul class="list">
              <li>Healthy Living
                Nature & Environment
                Money
              </li>
            </ul>
          </li>
          <li>— Writing
            <ul class="list">
              <li>Formal Letter
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>5 семестр
        <ul class="list">
          <li>—
            <ul class="list">
              <li>Revision
                Tests
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul> -->
    <!-- end not so good structure -->

    <ul class="list">
      <li class="item-heading">1 семестр</li>
      <li class="item-subtitle">— Grammar</li>
      <li class="item-description">Nouns & Articles Adjectives & Adverb</li>
      <li class="item-subtitle">— Vocabulary</li>
      <li class="item-description">Family & Relations People & Society</li>
      <li class="item-heading">2 семестр</li>
      <li class="item-subtitle">— Grammar</li>
      <li class="item-description">Pronouns
        Active Voice
        Passive Voice</li>
      <li class="item-subtitle">— Vocabulary</li>
      <li class="item-description">Home
        School
        Work</li>
      <li class="item-heading">3 семестр</li>
      <li class="item-subtitle">— Grammar</li>
      <li class="item-description">Modal verbs
        Infinitive
        Gerund
        Participle: 1, 2</li>
      <li class="item-subtitle">— Vocabulary</li>
      <li class="item-description">Travel & Tourism Culture & Free Time Sport</li>
      <li class="item-subtitle">— Writing</li>
      <li class="item-description">Informal Letter</li>
      <li class="item-heading">4 семестр</li>
      <li class="item-subtitle">— Grammar</li>
      <li class="item-description">Clauses: Conditional and Wishes
        Direct / Reported speech
        Preposition
        Conjunction
        Numeral
      </li>
      <li class="item-subtitle">— Vocabulary</li>
      <li class="item-description">Healthy Living
        Nature & Environment
        Money
      </li>
      <li class="item-subtitle">— Writing</li>
      <li class="item-description">Formal Letter</li>
      <li class="item-heading">5 семестр</li>
      <li class="item-subtitle">—</li>
      <li class="item-description">Revision
        Tests
      </li>
    </ul>
  </div>
</section>