<section class="registration section">
  <div class="container">
    <div>
      <!-- =================== -->
      <form class="form" autocomplete="off">
        <!-- title -->
        <h2 class="section-title">
          Регистрация на
          <a class="registration__description-color link" href="#"
            >бесплатную</a
          >
          телефонную
          <a class="registration__description-color link" href="#"
            >консультацию</a
          >
          по нюансам ЗНО по английскому языку
        </h2>
        <h3 class="registration__description">
          Оставь заявку на участие в
          <a class="registration__link-lesson link" href="#"
            >бесплатном занятии.</a
          >
          С вами свяжется консультант и ответит на вопросы
        </h3>
        <!-- inputs -->
        <div class="form-field">
          <input
            type="text"
            class="form-input"
            name="name"
            id="name"
            placeholder=" "
          />
          <label for="name" class="form-label">
            <svg class="modal-svg-icon" width="18" height="18">
              <use
                href="./images/registration/sprite_tmp.svg#icon-person"
              ></use>
            </svg>

            Имя*</label
          >
          <span class="icon"></span>
        </div>

        <div class="form-field">
          <input
            type="tel"
            class="form-input"
            name="phone_numb"
            id="phone"
            placeholder=" "
          />
          <label for="phone" class="form-label">
            <svg class="modal-svg-icon" width="18" height="18">
              <use
                href="./images/registration/sprite_tmp.svg#forma-icon-tel"
              ></use>
            </svg>

            Телефон*</label
          >
          <span class="icon"></span>
        </div>

        <button class="registration-btn" type="submit">
          хочу на бесплатное занятие
        </button>
      </form>
      <!-- ====================== -->
    </div>
  </div>
</section>
