<section class="section slider">
  <div class="container">
    <article class="slider-item">
      <h1 class="slider-item-title">Отзывы выпускников</h1>
      <div class="slider-container">
        <img
          src="./images/feedback/img-6.png"
          alt="портрет девушки"
          width="90"
          height="90"
        />
        <!-- <svg><use></use></svg> -->
        <h2 class="slider-container-title">Тоня Кучеровская</h2>
        <h3 class="slider-container-text">
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </h3>
        <p class="slider-container-comment">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій
          зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
          знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
          справді хвилювала моя успішність. Вона стала для мене авторитетом,
          проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
          Зараз я можу похизуватись тим, що я студен ...
          <a class="slider-container-link" href="">Читать дальше</a>
        </p>
      </div>
    </article>
  </div>
</section>
