.guaranties-section {
}
.guaranties {
  &-wraper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f1f1f1;
  }
  &-title {
    @media screen and (max-width: 480px) {
      width: 280px;
      height: 31px;
      font-size: 26px;
    }
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.03em;

    color: #111518;

    margin-bottom: 50px;
  }
  &-color {
    color: $accent-color;
  }
  &-list {
    padding-left: 55px;
    padding-right: 20px;
  }
  &-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #3d3d3d;

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    width: 100%;

    font-size: 12px;
  }
}
.guaranties-item:not(:last-child) {
  border-left: 1px dashed #b9b9b9;
}
.guaranties-item::before {
  content: '';
  left: 0;
  top: 0;
  background-image: url(/sass/component/Group.svg);
  width: 22px;
  height: 30px;
}
