.section-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: url(../images/hero/mobile/hero-bc-1x-mob.png);
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/tablet/hero-bc-1x-tab.png);
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  }

  @media screen and (min-width: 1366px) {
    background-image: url(../images/hero/desktop/hero-bc-1x-des.png);
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      background-image: url(../images/hero/mobile/hero-bc-2x-mob.png);
      box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/hero/tablet/hero-bc-2x-tab.png);
      box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    }

    @media screen and (min-width: 1366px) {
      background-image: url(../images/hero/desktop/hero-bc-2x-des.png);
      box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    }
  }
}

.container-hero {
  display: block;
  position: relative;

  @media screen and (min-width: 320px) {
    height: 618px;
    padding: 110px 0 47px 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    height: 556px;
    padding: 158px 0 65px 0;
  }

  @media screen and (min-width: 1366px) {
    height: 878px;
    padding: 228px 0 10px 0;
  }
}

.hero-text {
  z-index: 2;
}

.hero-title {
  text-align: left;
  margin-bottom: 30px;
  @include font(800, 20px, 27px);
  letter-spacing: 0.03em;
  color: $bgn-dark-theme;
  width: 280px;

  @media screen and (min-width: 768px) {
    @include font(800, 26px, 24px);
    width: 310px;
  }

  @media screen and (min-width: 1366px) {
    @include font(800, 58px, 75px);
    width: 610px;
  }
}

.hero-caption {
  text-align: left;
  @include font(500, 14px, 22px);
  letter-spacing: 0.08em;
  color: $secondary-color;

  @media screen and (min-width: 1366px) {
    @include font(500, 20px, 33px);
  }
}

.hero-subtitle {
  width: 280px;
  text-align: left;
  margin-bottom: 30px;
  @include font(700, 14px, 22px);
  letter-spacing: 0.08em;
  color: $bgn-dark-theme;

  @media screen and (min-width: 768px) {
    width: 280px;
  }

  @media screen and (min-width: 1366px) {
    @include font(500, 20px, 33px);
    width: 536px;
  }
}

.hero-subtitle-accent {
  text-align: left;
  @include font(700, 14px, 22px);
  letter-spacing: 0.08em;
  color: $accent-color;
}

.hero-button {
  display: flex;
  width: 260px;
  height: 48px;
  margin: 0px auto 30px auto;
  @include font(700, 12px, 15px);
  letter-spacing: 0.08em;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $third-color;
  background-color: $accent-color;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin: 0px auto 0px 0px;
  }

  @media screen and (min-width: 1366px) {
    width: 354px;
    height: 70px;
    @include font(700, 14px, 17px);
    letter-spacing: 0.14em;
  }
}

.hero-photo-container {
  width: 178px;
  height: 208px;
  margin: 0px auto;
  z-index: 1;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 171px;
    right: -22px;
    width: 375px;
    height: 320px;
  }

  @media screen and (min-width: 1366px) {
    top: 150px;
    right: -116px;
    width: 841px;
    height: 718px;
  }
}
