.section {
  padding-top: 30px;
  padding-bottom: 49.5px;
  background-color: $bgn-light-theme;
}

.container {
  min-width: 320px;
  padding-left: 52px;
  padding-right: 53.18px; /*52px*/
}
.offer-list-item {
  width: 216px;
  height: 60px;
}
.offer-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.offer-list-description {
  // левым паддингом бронируем место для картинки
  padding-left: 76px;
  @include font($fw: 700, $fs: 14px, $lh: 16px);
  letter-spacing: 0.08em;
  color: $primary-color;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*.container {
    min-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }*/

  .offer-list {
    display: flex;
    flex-wrap: wrap;
  }

  .offer-list-item:not(:last-child) {
    margin-right: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .offer-list-item:not(:last-child) {
    margin-right: 0px;
  }
}
