.section-program {
  position: relative;
  background-color: $bgn-dark-theme;
  // background-image: url(../images/program/mobile/program-img-1x-mob.png);
  // background-repeat: no-repeat;
  // background-position: top 1473px right;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 1366px) {
    padding-top: 120px;
  }

  .title {
    margin-bottom: 42px;
    color: $third-color;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: 1366px) {
      margin-bottom: 160px;
    }
  }
}

.list {
  &-heading {
    @media screen and (max-width: 767px) {
      margin-left: calc(50% - 40px);
    }

    @media screen and (min-width: 768px) and (max-width: 1365px) {
      margin-left: 120px;
    }

    @media screen and (min-width: 1366px) {
      display: flex;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      background-color: $third-color;

      @media screen and (max-width: 767px) {
        top: 130px;
        left: calc(42% - 40px);
        width: 1282px;
        transform-origin: top left;
        transform: rotate(90deg);
      }

      // @media screen and (min-width: 321px) and (max-width: 375px) {
      //   top: 130px;
      //   left: 110px;
      //   width: 1158px;
      //   transform-origin: top left;
      //   transform: rotate(90deg);
      // }

      // @media screen and (min-width: 376px) and (max-width: 424px) {
      //   top: 130px;
      //   left: 130px;
      //   width: 1158px;
      //   transform-origin: top left;
      //   transform: rotate(90deg);
      // }

      // @media screen and (min-width: 425px) and (max-width: 480px) {
      //   top: 130px;
      //   left: 160px;
      //   width: 1158px;
      //   transform-origin: top left;
      //   transform: rotate(90deg);
      // }

      @media screen and (min-width: 768px) and (max-width: 1365px) {
        top: 158px;
        left: 100px;
        width: 705px;
        transform-origin: top left;
        transform: rotate(90deg);
      }

      @media screen and (min-width: 1366px) {
        top: 276px;
        left: 0;
        width: 100%;
      }
    }
  }

  &-subtitle {
    margin-top: 5px;

    @media screen and (min-width: 768px) and (max-width: 1365px) {
      display: flex;
    }

    @media screen and (min-width: 1366px) {
      margin-top: 25px;
    }
  }

  &-description {
    max-width: 176px;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
      margin-bottom: 8px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 5px;
    }

    @media screen and (min-width: 1366px) {
      max-width: 240px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
}

.item {
  &-heading {
    @include font(700, 14px, 28px);
    letter-spacing: 0.08em;
    color: $third-color;

    @media screen and (min-width: 1366px) {
      // flex-basis: calc(100% / 2 - 15px);
      width: 240px;
    }

    &:not(:first-child) {
      @media screen and (max-width: 767px) {
        margin-top: 40px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199 px) {
        margin-top: 30px;
      }
    }

    &::before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: $accent-color;

      @media screen and (max-width: 767px) {
        transform: translate(-8px, 40%);
        // transform: translateX(-8px);
        // transform: translateY(33%);
        transform-origin: center left;
        left: calc(42% - 40px);
      }

      // @media screen and (min-width: 321px) and (max-width: 375px) {
      //   transform: translateY(33%);
      //   left: 102px;
      // }

      // @media screen and (min-width: 376px) and (max-width: 424px) {
      //   transform: translateY(33%);
      //   left: 122px;
      // }

      // @media screen and (min-width: 425px) and (max-width: 480px) {
      //   transform: translateY(33%);
      //   left: 152px;
      // }

      @media screen and (min-width: 1366px) {
        top: 268px;
      }
    }
  }

  &-subtitle {
    @include font(700, 12px, 20px);
    letter-spacing: 0.08em;
    color: $accent-color;

    &:not(:first-child) {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 50px;
      }
    }
  }

  &-description {
    @include font(500, 12px, 20px);
    letter-spacing: 0.08em;
    color: $secondary-color;
    opacity: 0.5;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
